# ==========================================
# Dataset
# ==========================================

rice-image-dataset/


# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class


# ==========================================
# Virtual Environment
# ==========================================

venv/
.venv/
env/


# ==========================================
# Jupyter Notebook
# ==========================================

.ipynb_checkpoints/


# ==========================================
# VS Code
# ==========================================

.vscode/


# ==========================================
# Streamlit
# ==========================================

.streamlit/secrets.toml


# ==========================================
# Operating System Files
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# Temporary Files
# ==========================================

*.tmp
*.log